@font-face {
    font-family: 'Segment7';
    src: url('/assets/fonts/Segment7Standard.otf');
}
.test_title {
    width: 700px;
    margin: 20px auto;
    text-align: center;
}

.question {
    width: 700px;
    margin: 10px auto;
    font-size: large;
    padding: 20px;

}
.question img {
    width: 100%;
    border-radius: 5px;

}
.start,.end {
    margin: 20px auto;
    height: 70px;
    text-align: center;
}
#buttonDone, #buttonStart {
    height: 36px;
    font-size: 15px;
    line-height: 36px;
    padding: 0 20px;
}
.answer {
    margin: 10px;
}
.answer input {
    margin-right: 10px;
}
#result {
    width: 700px;
    margin: 10px auto 50px auto;
    font-size: x-large;
    padding-bottom: 50px;

}
#result .yes {
    color: green !important;
}
#result .midl {
    color: orange !important;
}
#result .not {
    color: red !important;
}
.answersForQuestion {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #fff;
    height: 100%;
    padding: 15px;
    gap: 5px;
}

.answersForQuestion > p{
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 5px;
    padding: 8px;
}
#countdownTimer{
    position: fixed;
    top: 10px;
    left: 10px;
    font-family: Segment7Standard,Segment7,sans-serif;
    font-size: 30px;
}
#countdownTimerSeparator{
    display: inline-block;
    width: 10px;
    background-size: 3px;
    background-image: url("/assets/icon_delimeter.svg");
    background-position: center 5px;
    background-repeat: no-repeat;
    height: 23px;
}